.idinput {
    width: 60%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* A large button positioned under the text input in a light blue color */
.submit {
    width: 60%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #335d92;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
}